@import '../../styles/global.scss';
.fs-45Member {
  font-size: 2.813rem;
  font-weight: bold;
}
.fs-26Member {
  font-size: 1.625rem;
  font-weight: bold;
}
.fs-24Member {
  font-size: 1.5rem;
  font-weight: bold;
}
.fs-20Member {
  font-size: 1.3rem;
  font-weight: bold;
}
.fs-16Member {
  font-size: 1rem;
  font-weight: bold;
}
.pl-12Member {
  padding-left: 12px;
}
.linkWidthMember {
  width: 160px;
}
.prepareColorMember {
  color: #943f24;
}
.remarkMember {
  color: rgba(128, 128, 128, 0.548);
  font-size: 10px;
}
.memberWrap {
  display: flex;
  justify-content: center;
  .tabWrapMember {
    max-width: 1440px;
    height: 100vh;
    .tabBarMember {
      box-shadow: 9px 0 15px -1px rgb(81, 81, 81, 0.1);
      display: flex;
      justify-content: center;
      .nav-pills .nav-link {
        font-size: 1rem;
        // padding: 1.5rem 5rem;
        color: $black;
        cursor: pointer;
      }
      .nav-pills .nav-link.active {
        color: $primary;
        background-color: $white;
        border-bottom: 4px solid $funwave-deepblue;
      }
    }
    .tabBarPhoneMember {
      display: none;
    }
  }
  @media screen and (max-width: 767px) {
    .tabWrapMember {
      padding: 0px;
      height: 52px;
      .tabBarMember {
        display: none;
      }
      .tabBarPhoneMember {
        background-color: $white;
        display: flex;
        flex-direction: row !important;
        height: 52px !important;
        .nav-link.active {
          color: $primary;
        }
      }
    }
  }
  .tabContentMember {
    display: flex;
    justify-content: center;
    .titleMember {
      font-size: 36px;
      color: $secondary;
      font-weight: bold;
      .titelImgMember {
        width: 24px;
        height: auto;
      }
    }
    // MemberInfo
    .changeImgMember {
      border: none;
      background-color: $white;
      color: $gray;
    }
    .captionMember {
      .fa-bullhorn {
        -moz-transform: rotate(338deg);
        -webkit-transform: rotate(338deg);
        -o-transform: rotate(338deg);
        -ms-transform: rotate(338deg);
        transform: rotate(338deg);
      }
    }
    .masterMember {
      color: $primary;
    }
    .hotMember {
      color: $secondary;
    }
    .startMember {
      color: $gray;
    }
    .cancelMember {
      background-color: $primary;
      border-color: $primary;
      color: $white;
    }
    .saveMember {
      background-color: $secondary;
      border-color: $secondary;
      color: $white;
    }
    .avatarMember {
      width: 212px;
      height: 212px;
      border-radius: 50%;
      overflow: hidden;
      margin: 1rem auto;
      background-color: $info;
    }
    .avatarMember img {
      width: 100%;
    }
  }
  .btnMember {
    border-color: #333333;
  }
  .passwordMember {
    position: relative;
  }
  .passwordImgMember {
    position: absolute;
    cursor: pointer;
    width: 26px;
    height: auto;
    top: 30px;
    right: -1px;
  }
  .formWidthMember {
    width: 91%;
  }
  .was-validated .pwControlMember:invalid,
  .pwControlMember.is-invalid {
    background-position: right calc(1.375em + 0.1875rem) center;
  }
  @media screen and (max-width: 992px) {
    .tabContentMember {
      .titleMember {
        font-size: 32px;
      }
    }
  }
  // /MemberInfo

  // MemberOrder
  .tableMemberOrder > :not(:first-child) {
    border-top: 2px solid rgb(81, 81, 81, 0.4);
    tr:hover {
      transition: 0.3s;
      background-color: rgb(241, 241, 241);
    }
  }
  .page-link {
    border-color: $gray;
    color: $black;
  }
  .page-link:active,
  .page-link:hover {
    background-color: $deepblue;
    color: $white;
  }
  .page-item:first-child .page-link {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  .page-item:last-child .page-link {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .deleteIconMember:hover {
    color: $funwave-orange;
  }
  @media screen and (max-width: 480px) {
    .orderTableWrapMember {
      width: 400px;
    }
  }
  @media screen and (max-width: 420px) {
    .orderTableWrapMember {
      width: 350px;
    }
  }
  @media screen and (max-width: 375px) {
    .orderTableWrapMember {
      width: 300px;
    }
  }
  @media screen and (max-width: 320px) {
    .orderTableWrapMember {
      width: 280px;
    }
  }
  // /MemberOrder

  // MemberOrderDetails
  .pinkBtnMember {
    background-color: #fa7faa;
    border-color: #fa7faa;
    color: $white;
    border-radius: 0.5rem;
  }
  .deepblueBtnMember {
    background-color: $deepblue;
    border-color: $deepblue;
    color: $white;
    border-radius: 0.5rem;
  }
  .tableMemberOrderDetails > :not(:first-child) {
    border-top: 1px solid rgb(81, 81, 81, 0.4);
  }
  .orderImgMember {
    width: 100px;
    height: 120px;
    background-color: #333333;
  }
  .discountHintMember {
    font-size: 8px;
    // width: 40px;
    height: 20px;
    background-color: #fa7faa;
    color: $white;
    padding: 3px 5px;
  }
  .dropdownMember {
    background-color: $white;
    border-color: $white;
    color: #333333;
    .accordionMember {
      .accordion-button {
        color: $gray;
      }
      .accordion-button:not(.collapsed) {
        background-color: $white;
      }
    }
    .accordion-body {
      padding: 0rem !important;
      label {
        color: rgba(128, 128, 128, 0.548);
      }
      .detailLabelMember {
        color: $black;
      }
    }
  }
  // /MemberOrderDetails

  // MemberCourseOrder
  @media screen and (max-width: 480px) {
    .tableOrderCourseMember {
      width: 400px;
    }
  }
  @media screen and (max-width: 420px) {
    .tableOrderCourseMember {
      width: 350px;
    }
  }
  @media screen and (max-width: 375px) {
    .tableOrderCourseMember {
      width: 280px;
    }
  }
  @media screen and (max-width: 320px) {
    .tableOrderCourseMember {
      width: 260px;
    }
  }
  // /MemberCourseOrder

  // MemberCourseOrderDetails

  // /MemberCourseOrderDetails

  // MemberPoint
  .cardMember {
    border: none;
    background-color: #f5f5f5;
    .bellWrapMember {
      .fasMember {
      }
      .bellIconMember {
        font-size: 60px;
        color: $gray;
        -moz-transform: rotate(347deg);
        -webkit-transform: rotate(347deg);
        -o-transform: rotate(347deg);
        -ms-transform: rotate(347deg);
        transform: rotate(347deg);
      }
    }
    .lineWrapMember {
      .lineMember {
        width: 1px;
        height: 230px;
        background-color: $gray;
      }
    }
  }
  .tableMemberPoint {
    tr {
      border-color: $white;
    }
  }
  .markMember {
    font-size: 10px;
  }
  @media screen and (max-width: 874px) and (min-width: 480px) {
    .cardWrapMember {
      padding: 0px !important;
      .cardContentMember {
        padding: 0px;
        .bellWrapMember {
          .bellIconMember {
            font-size: 50px;
          }
        }
        .cardLeftContentMember {
          .fs-20Member {
            font-size: 18px !important;
          }
          .fs-45Member {
            font-size: 28px !important;
          }
        }
      }
    }
    .table-wrap {
      width: 450px !important;
    }
  }
  @media screen and (max-width: 480px) {
    .cardWrapMember {
      padding: 0px !important;
      .cardContentMember {
        padding: 0px;
        .textBoxMember {
          padding-top: 9px;
        }
        .cardLeftMember {
          flex-direction: column;
          align-self: center;
        }
        .bellWrapMember {
          text-align: start;
          .bellIconMember {
            font-size: 40px;
            margin-bottom: 5px;
          }
        }
        .cardLeftContentMember {
          .fs-20Member {
            font-size: 16px !important;
          }
          .fs-45Member {
            font-size: 24px !important;
          }
        }
      }
    }
    .table-wrap {
      width: 400px !important;
    }
  }
  @media screen and (max-width: 420px) and (min-width: 375px) {
    .cardWrapMember {
      padding: 0px !important;
      .cardContentMember {
        padding: 0px;
        .cardLeftMember {
          flex-direction: column;
          align-self: center;
        }
        .bellWrapMember {
          .bellIconMember {
            font-size: 40px;
          }
        }
        .cardLeftContentMember {
          .fs-20Member {
            font-size: 16px !important;
          }
          .fs-45Member {
            font-size: 24px !important;
          }
        }
      }
    }
    .table-wrap {
      width: 350px !important;
    }
  }
  @media screen and (max-width: 375px) {
    .cardWrapMember {
      padding: 0px !important;
      .cardContentMember {
        padding: 0px;
        .textBoxMember {
          padding-top: 34px;
        }
        .cardLeftMember {
          flex-direction: column;
          align-self: center;
        }
        .bellWrapMember {
          .bellIconMember {
            font-size: 40px;
          }
        }
        .cardLeftContentMember {
          .fs-20Member {
            font-size: 16px !important;
          }
          .fs-45Member {
            font-size: 24px !important;
          }
        }
        .cardRightContentMember {
          .fs-20Member {
            font-size: 16px !important;
          }
        }
      }
    }
    .table-wrap {
      width: 300px !important;
    }
  }
  // /MemberPoint

  // MemberCoupon
  .lineWrapMember {
    .lineMemberCoupon {
      width: 1px;
      height: 23px;
      background-color: $gray;
    }
  }
  // /MemberCoupon

  // MemberMessage
  .textareaMember {
    max-width: 810px;
    min-width: 355px;
    height: 145px !important;
  }
  // /MemberMessage

  // MemberCollect
  .blueBtnMember {
    background-color: $funwave-lightblue;
    border-color: $funwave-lightblue;
    color: $white;
    border-radius: 0.5rem;
  }
  .deleteBtnMember {
    color: $funwave-black;
  }
  // /MemberCollect
}

.page-link.active {
  background-color: #17a8a2;
  color: #ffffff;
}
