@import '../../../styles/global.scss';

.vh-100 {
    max-height: calc(100vh - 70px);
}
// 註冊底圖(login)
.leftSignUp{
    background:url(../../../data/images/login.png);
    background-size: cover;
    z-index: 0;
}
// 註冊區域(login)
.demo{
    background:rgba(255,255,255,0.1);
}
// 共用的btn圓角
.btn{
    border-radius: 8px;
}
.signupBtn{
    width: 280px;
}
.loginTitle{
    color: #E4715E;
    font-weight: bold;
}
// 登入
.loginInput{
    border-radius: 8px;
    width: 150px;
    border: 1px solid $gray;
}
.form-control{
    border-radius: 8px;
    border: 1px solid $gray;
}
.forgetPassword{
    text-decoration: none;
    color: $black;
}
.loginBtn{
    width: 280px;
    font-weight: bold;
}
//註冊
.wrapSignup{
    background: rgba($color: #000000, $alpha: 0.6);
    position: fixed;
    top:0%;
    left:0%; 
    width: 100%;
    height: 100%;
    z-index: 1;
}
.background{
    margin: 0 auto;
    background: rgba(255,255,255,1);
    border-radius: 8px;
    z-index: 2;
}
.signupTitle{
    color: #E4715E;
    font-size: 24px;
}
.signupInput{
    width: 280px;
}
.cross{
    z-index: 3;
    cursor: pointer;
}
// 快速註冊手機版 375px
@media screen and (max-width: 400px) {
    .background{
        width: 80%;
        background: white;
        position: fixed;
        top: 5%;
        left: 10%;
        border-radius: 8px;
        z-index: 2;
    }
    .signupInput{
        width: 230px;
    }
    .agreeSignup{
        font-size: 8px;
    }
     .signupInput{
         width: 200px;
     }
}