@import './global.scss';

.leftSignUp{
    background:url(../data/images/login.png);
    background-size: cover;
    z-index: 0;
}
.demo{
    background:rgba(255,255,255,0.1);
}
span{
    color: blue;
}
.btn{
    border-radius: 50px;
}
.signupBtn{
    width: 160px; 
}
.logo{
    width: 200px;
    position: absolute;
    top: 0%;
    right:0%;
}
.loginTitle{
    color: $info;
}
input{
    border-radius: 50px;
    width: 280px;
    border: 1px solid $gray;
}
.loginBtn{
    width: 280px;
    padding: 12px;
    font-weight: bold;
}

//註冊
.background{
    width:50%;
    background: rgba(255,255,255,1);
    position: fixed;
    top:5%;
    left:25%; 
    border-radius: 10%;
}
.title{
    color:$secondary;
    text-align: center;
    
}
span{
    color: blue;
}
