@import './global.scss';

// 註冊底圖(login)
.leftSignUp{
    background:url(../data/images/login.png);
    background-size: cover;
    z-index: 0;
}
// 註冊區域(login)
.demo{
    background:rgba(255,255,255,0.1);
}
// 共用的btn圓角
.btn{
    border-radius: 50px;
}
.signupBtn{
    width: 160px; 
}
// logo 位置
.logo{
    width: 200px;
    position: absolute;
    top: 0%;
    right:0%;
}
.loginTitle{
    color: $info;
}
input{
    border-radius: 50px;
    width: 280px;
    border: 1px solid $gray;
}
.loginBtn{
    width: 280px;
    padding: 12px;
    font-weight: bold;
}

//註冊
.wrap{
    background: rgba($color: #000000, $alpha: 0.6);
    position: fixed;
    top:0%;
    left:0%; 
    width: 100%;
    height: 100%;
    z-index: 1;
}
.background{
    width:50%;
    background: rgba(255,255,255,1);
    position: fixed;
    top:5%;
    left:25%; 
    border-radius: 50px;
    z-index: 2;
}
.title{
    color:$secondary;
    text-align: center;
    
}
.form-control{
    border-radius: 50px;
    width: 280px;
    border: 1px solid $gray;
}
@media screen and (max-width: 375px) {
    .background{
        // position: fixed;
        // top:5%;
        // left:; 
    }
    .title{
        // font-size: 0.5rem;
    }
}
