@import './global.scss';
.breadcrumb {
  text-decoration: none;
  color: $funwave-deepgray;
}
.navbar {
  padding: 0rem 1.5rem;

  .headerWrap {
    max-width: 1440px;
    .imgLogo {
      color: #333333;
      width: 196px;
      height: 30px;
    }
    .nav-menu {
      margin: 0 auto;
      // height: 70px;
      .nav-link {
        display: block;
        color: #333333;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        padding: 0rem 1.5rem;
        white-space: nowrap;
        line-height: 70px;
      }
      .nav-link.active {
        border-bottom: 4px solid $primary;
      }
    }
    .btnGroup {
      display: flex;
      align-items: center;
      justify-content: center;
      .iconGroup {
        color: #333333;
        padding: 0rem 1.5rem 0rem 0rem;
        white-space: nowrap;
        .fas {
          font-size: 30px;
          height: 30px;
        }
      }
      .headerImgMember {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
      }
      .btnLogin {
        background-color: $primary;
        border: none;
        border-radius: 0.5rem;
        color: #ffffff;
        padding: 0px;
        width: 94px;
        height: 31px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
// 我的最愛星星
.favWrap{
  position: absolute;
  background: #ffffff;
  right: 0;
  transform: translateY(20px);
  padding: 5px 10px 5px 5px;
  border-radius: 8px 0 0 8px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  z-index: 200;
  transition: display .3s;
}
// .favWrap::after{
//   content:"我的收藏";
//   transition: 1s;
//   padding: 20px 0 0 5px;
//   max-width: 0;
//   overflow: hidden;
// }
.favWrap:hover .myFav{
  display: inline-block;
  max-width: 100px;
  padding: 5px 0 0 5px;
}
.myFav{
  display: none;
}
.favStar{
  color: #f0dd31;
}
@media screen and (max-width: 1100px) {
  .nav-menu {
    .nav-link {
      padding: 0rem 1rem !important;
    }
    .btnGroup {
      .iconGroup {
        padding: 0rem 1rem 0rem 0rem !important;
        .fas {
          font-size: 24px !important;
          height: 24px !important;
        }
      }
      .headerImgMember {
        width: 50px;
        height: 50px;
      }
      .btnLogin {
        width: 74px !important;
        height: 31px;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .navbar {
    padding: 0px;
    .nav-menu {
      height: auto;
    }
    .btnGroup {
      padding: 1.5rem 0rem 1rem 0rem;
      justify-content: end;
      .iconGroup {
        padding: 0rem 1.5rem 0rem 0rem;
        .fas {
          font-size: 30px;
          height: 30px;
        }
      }
    }
  }
}

//scrolltotop
.totop {
  border: none;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 30px;
  z-index: 99;
  outline: none;
  width: 50px;
  height: 50px;
}

//NotFound
.errorword {
  padding: 3rem 0rem 3rem 0rem;
  margin: 3rem 0rem 3rem 0rem;
}
#home {
  text-decoration: none;
}
@media screen and (max-width: 770px) {
  .notFound {
    max-width: 450px;
  }
}

@media screen and (max-width: 380px) {
  .notFound {
    max-width: 350px;
    min-width: 300px;
  }
  .errorword {
    padding: 0;
    margin: auto;
    text-align: center;
  }
  #home {
    display: flex;
    justify-content: center;
  }
}
