// 預設變數覆蓋需要在導入Bootstrap之前
$primary:#FF7F6A;
$secondary:#17A8A2;
$info: #81D7D3;


// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

/*------------------------------ 文字、輔助顏色 ------------------------------*/
// 自定義變數 $xxxx 需當頁使用，請引用: global.scss
$orange: #FF7F6A;
$deepblue:#17A8A2;
$blue:#81D7D3;
$lightgray:#F5F5F5;
$white:#FFFFFF;
$black:#333333;
$gray:#98A0A5;


// 全站 jsx 可直接使用 className
.deepblue{
  color: $deepblue;
}
.blue{
  color: $blue;
}
.lightgray{
  color: $lightgray;
}
.white{
  color: $white;
}
.black {
  color: $black;
}
.gray {
  color: $gray;
}
.orange {
  color: $orange;
}


// container-fluid
.container-fluid{
  padding: 0;
}