$deepblue:       #17A8A2;
$blue:       #81D7D3;
$pink:     #FA7FAA;
$lightgray:       #F5F5F5;
$white:          #FFFFFF;
$black:          #333333;
$gray:          #98A0A5;
$info:          #FF7F6A;

.leftSignUp{
    background:url(../data/images/login.png) ;
    background-size: cover;
}