// 待找到方法放在public，就可刪除此行
@import '../../styles/global.scss';

// outSideBox(包住整頁)
.outSideBox {
    position: relative;
}

// translateBox(包住關於-資訊)
.translateBox {
    position: absolute;
    left: 0%;
    top: 72%;
}

// 首頁
.heroSectionHome {
    height: 100vh;

    background: url('../../data/images/home/orangeHeroHome.png') center center no-repeat;
    background-size: cover;
    position: relative;
}

.waveVerticalWBox {
    position: absolute;
    left: 6%;
    bottom: -6%;
    opacity: 80%;
}

.logoPicHome {
    padding-top: 240px;
    max-height: 170px;
}

.logoPicW {
    max-height: 180px;
    min-height: 60px;
}

.sloganHome {
    padding-top: 0px;
    color: $funwave-deepblue;
    text-shadow: 0 0 10px $funwave-white, 0 0 20px $funwave-white, 0 0 30px $funwave-white, 0 0 40px $funwave-white;
}



// 關於
.aboutSectionHome {
    height: auto;
    background: url('../../data/images/home/lightgraywhiteBG-up.png') center center no-repeat;
    background-size: cover;
}


.titleAboutHome {
    padding-top: 260px;
}

.titleShopHome {
    padding-top: 150px;    
}

.titleCustomHome {
    padding-top: 80px;
}

.titleCoachHome {
    padding-top: 0px;
}

// .titleHome {

// }

// h1 {
//     color: $deepblue;
// }


.aboutContainerHome {
    margin: 0px;
}

.aboutCircleHome {
    padding: 0 10%;
}

// 關於-商品圓圈
.productCircleBoxHome {
    max-width: 180px;
    max-height: 180px;
    min-width: 100px;
    min-height: 100px;
    position: relative;
}
.productCircleItemHome-front {
    max-width: 180px;
    max-height: 180px;
    min-width: 100px;
    min-height: 100px;

    background: url('../../data/images/home/selectProduct.png') center center no-repeat;
    background-size: cover;
    border-radius: 50%;

    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
}
.productCircleItemHome-back {
    max-width: 180px;
    max-height: 180px;
    min-width: 100px;
    min-height: 100px;

    background: $funwave-white;
    border-radius: 50%;

    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(-180deg);
}
.productCircleBoxHome:hover .productCircleItemHome-back {
    transform: rotateY(0deg);
}
.productCircleBoxHome:hover .productCircleItemHome-front {
    transform: rotateY(180deg);
}

// 關於-課程圓圈
.teachClassCircleBoxHome {
    max-width: 180px;
    max-height: 180px;
    min-width: 100px;
    min-height: 100px;
    position: relative;
}
.teachClassCircleItemHome-front {
    max-width: 180px;
    max-height: 180px;
    min-width: 100px;
    min-height: 100px;

    background: url('../../data/images/home/teachClass.png') center center no-repeat;
    background-size: cover;
    border-radius: 50%;

    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
}
.teachClassCircleItemHome-back {
    max-width: 180px;
    max-height: 180px;
    min-width: 100px;
    min-height: 100px;

    background: $funwave-white;
    border-radius: 50%;

    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(-180deg);
}
.teachClassCircleBoxHome:hover .teachClassCircleItemHome-back {
    transform: rotateY(0deg);
}
.teachClassCircleBoxHome:hover .teachClassCircleItemHome-front {
    transform: rotateY(180deg);
}

// 關於-客製化圓圈
.customCircleBoxHome {
    max-width: 180px;
    max-height: 180px;
    min-width: 100px;
    min-height: 100px;
    position: relative;
}
.customCircleItemHome-front {
    max-width: 180px;
    max-height: 180px;
    min-width: 100px;
    min-height: 100px;

    background: url('../../data/images/home/customBoard.png') center center no-repeat;
    background-size: cover;
    border-radius: 50%;

    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
}
.customCircleItemHome-back {
    max-width: 180px;
    max-height: 180px;
    min-width: 100px;
    min-height: 100px;

    background: $funwave-white;
    border-radius: 50%;

    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(-180deg);
}
.customCircleBoxHome:hover .customCircleItemHome-back {
    transform: rotateY(0deg);
}
.customCircleBoxHome:hover .customCircleItemHome-front {
    transform: rotateY(180deg);
}

// 關於-浪點圓圈
.surfSpotCircleBoxHome {
    max-width: 180px;
    max-height: 180px;
    min-width: 100px;
    min-height: 100px;
    position: relative;
}

.surfSpotCircleItemHome-front {
    max-width: 180px;
    max-height: 180px;
    min-width: 100px;
    min-height: 100px;

    background: url('../../data/images/home/surfSpotInfo.png') center center no-repeat;
    background-size: cover;
    border-radius: 50%;;

    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
}
.surfSpotCircleItemHome-back {
    max-width: 180px;
    max-height: 180px;
    min-width: 100px;
    min-height: 100px;

    background: $funwave-white;
    border-radius: 50%;

    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(-180deg);
}
.surfSpotCircleBoxHome:hover .surfSpotCircleItemHome-back {
    transform: rotateY(0deg);
}
.surfSpotCircleBoxHome:hover .surfSpotCircleItemHome-front {
    transform: rotateY(180deg);
}

// 關於-連結字
.aboutCircleHome a {
        text-decoration: none;
        color: #333333;
}
.aboutCircleHome a:hover {
        text-decoration: underline;
        color: #333333;
}



// 商店
.shopSectionHome {
    // transform: translateY(-800px);
    background: url('../../data/images/home/lightgraywhiteBG-down.png') center center no-repeat;
    background-size: cover;

    padding: 0 10%;
}


.shopPicLeftRightHome {
    width: 100%;
}

.shopPicCenterHome {
    width: 100%;
}

.costumSectionHome {
    margin-right: 0px;
}

// classSectionUPHome
.classSectionUPHome {
    background: url('../../data/images/home/lightgraywhiteBG-course-up.png') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 10vh;
}


// 課程與教練
.classSectionHome {
    height: auto;
    background-color: $funwave-lightgray;
}

// .classContainerHome {
//     // padding-top: 110px;
// }

// classSectionDOWNHome
.classSectionDOWNHome {
    background: url('../../data/images/home/lightgraywhiteBG-course-down.png') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 10vh;
}

.costumPicBoxHome {
    position: relative;
}

.costumPicHome {
    position: absolute;
    left: 0;
    top: 50;
}

// 浪點
.surfPointSectionHome {
    width: 100%;
    background: url('../../data/images/home/SPinfoBG.png') center center no-repeat;
    background-size: cover;

}

.surfPointContainerHome {
    padding-top: 100px;
    position: relative;
}

.titleSurfPointHome {
    padding-top: 100px;

}

.surfIntroTitleHome {
    width: 20%;
    position: absolute;
    left: 10%;
    top: 32%;
}

.surfIntroWordHome {
    width: 20%;
    position: absolute;
    left: 10%;
    top: 40%;
}

// .infoContainerHome {

// }

.cardHome {
    height: 640px;
    width: 100%;
    background-color: $funwave-white;
    border-radius: 8px;
}


.badgeHome {
    position: absolute;
    left: 24px;
    bottom: 12px;
    margin: 0px;
    padding: 0px;
}

.cardPicDivHome {
    width: 100%;
    height: 300px;
    overflow:hidden;
    border-radius: 8px 8px 0 0;
    position: relative;
}

.cardPicHome {
    width: 160%;
    min-width: 600px; 
    height: auto;
}

.cardTitleHome {
    height: 120px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.cardTextHome {
    height: 120px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.cardinfoHome {
    height: 60px;
}



