// 待找到方法放在public，就可刪除此行
@import '../../styles/global.scss';

.bannerCu {
  height: 350px; // 待跟客製化商品、課程統一！
  background: url('../../data/images/customizedSection.png');
  background-size: cover;
}
.titleTopCu {
  background: rgba(255, 255, 255, 0.3);
  height: 350px;
}
.sectionCu {
  margin: 0% 25% 2% 25%;
}

//推薦組件背景
.recommendBg {
  background: $lightgray;
}
//名人
.photoCu {
  max-width: 440px;
  max-height: 250px;
  object-fit: cover;
  border-radius: 8px;
}
//訂製
.contentCu {
  width: 30%;
}
.chooseBtn {
  border-radius: 8px;
  font-size: 20px;
  background: white;
  font-weight: bold;
}
.chooseBtnActive {
  background: $orange;
}
//step1
.chooseBoardCu {
  max-height: 550px;
  // cursor: pointer;
}
.boardOrange{
  border:4px solid $primary;
}
.borderLightGray{
  border:4px solid $lightgray;
}
//step2
.boarderCu {
  // 手機大小
  // width: 300px;
  // height: 600px;
  border: 1px solid black;
}
.btnCu,
nav-tabs {
  width: 100%;
}
input[type='color'] {
  -webkit-appearance: none;
  border: none;
  width: 32px;
  height: 32px;
  background-color: $lightgray;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
.cover-fit {
  width: 100%;
  height: 100%;
}
.boxCu{
  height: 100px;
  width: 100px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid black;
}
.upperPictureCu {
  z-index: 50;
}
//細節
.whiteBg {
  background: white;
}
