// 待找到方法放在public，就可刪除此行
@import '../../styles/global.scss';

.bannerCu {
  height: 350px; // 待跟客製化商品、課程統一！
  background: url('../../data/images/customizedSection.png') ;
  background-size: cover;
}
.sectionCu{
  margin: 0% 25% 2% 25%;
}

//推薦組件
.recommendBg{
  background: $lightgray;
}
//名人
.celebrity{
  // height: 30%;
  width: 40%;
}
//訂製
.contentCu{
  width: 30%;
  margin: auto;
}