// 待找到方法放在public，就可刪除此行
@import '../../../styles/global.scss';

// 共用
.borderRadius {
  border-radius: 8px;
}
.cursorPointer {
  cursor: pointer;
}
.fontBlack {
  color: #333333d7;
}

// header 三步驟
.cartStepsSigns {
  background-color: $funwave-lightgray;
  width: 29%;
}
.cartStepsSignsOrange {
  background: $orange;
}

// 步驟1
.countButton {
  width: 30px;
  height: 30px;
}
.cartAmount {
  background-color: $funwave-lightgray;
}
.cartNextBtn {
  width: 200px;
}
.cartImg {
  width: 32%;
}
.cartDetails {
  width: 43%;
}
.trash {
  right: 32px;
  top: 95px;
}
