// 待找到方法放在public，就可刪除此行
@import '../../styles/global.scss';

// .caroBoxInfo {
//     position: relative;
// }

// .arrowDownInfo {
//     position: absolute;
//     left: 0;
//     top: 0;
// }

.caroBoxInfo {
    max-height: 680px;
    margin-right: -20px;
    margin-left: -20px;

}

.caroAInfo {
    color: $funwave-white;
    text-decoration: none;
}
// .caroAInfo:after {
//     color: $funwave-white;
//     text-decoration: underline;
// }
.caroAInfo:hover {
    color: $funwave-white;
}
.caroAInfo:after{
    color: $funwave-white;
    position: relative;
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: $funwave-white;
    top: 2px;
    left: 0;  
    transform: scale(0);
    transition: all 0.5s;
}
.caroAInfo:hover::after{
    color: $funwave-white;
    transform-origin: center;
    transform: scale(1);
}


.nav-item .nav-link {
    font-weight: bold;
}

.contentSectionInfo {
    .searchInfoMO {
        display: none;
    }
}

.contentSectionInfo {
    .searchInfoPC {
        display: show;
    }
}

// @media screen and (max-width: 768px) {

// }

@media screen and (max-width: 378px) {

    .cardHome {
        height: 460px;
        width: 100%;
        background-color: $funwave-white;
        border-radius: 8px;
    }
    
    .badgeHome {
        position: absolute;
        left: 24px;
        bottom: 12px;
        margin: 0px;
        padding: 0px;
    }
    
    .cardPicDivHome {
        width: 100%;
        height: 184px;
        overflow:hidden;
        border-radius: 8px 8px 0 0;
        position: relative;
    }
    
    .cardPicHome {
        width: 110%;
        min-width: 400px; 
        height: auto;
    }
    
    .cardTitleHome {
        height: 92px;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
        h3 {
            font-size: 1.3rem;
        }
    }
    
    .cardTextHome {
        height: 92px;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        white-space: normal;
        p {
            font-size: 0.9rem;
        }
    }
    
    .cardinfoHome {
        height: 46px;
        h6 {
            font-size: 0.7rem;
        }
        .btn {
            font-size: 0.7rem;
        }
    }

    .badgeHome {
        font-size: 0.6rem;
        padding: 3px 8px;
    }


    .nav-tabs {
        display: flexbox;
        justify-content: center;
    }

    .nav-item .nav-link {
        font-weight: bold;
    }

    .carousel-caption {
        h1 {
            font-size: 1.3rem;
        }
        .downBtnInfoPC {
            display: none !important;
        }
    }

    .carousel .badge {
        display: none;
    }

    // .carousel .caroADate {
    //     display: none;
    // }

    .slide {
        // margin-bottom: 100px;
    }


    .contentSectionInfo {
        .searchInfoPC {
            display: none;
        }
    }

    .contentSectionInfo {
        .searchInfoMO {
            display: block;
            margin: 10px 0px;
        }
    }


}



