// 待找到方法放在public，就可刪除此行
@import '../../styles/global.scss';



.titleTopPicBoxInfo {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleTopPicInfo {
    -webkit-filter: grayscale(100%);
    opacity: 80%;
    width: 130%;
    height: auto;
}

.contentSectionInfo {
    margin: 0% 8%;

}

.contentPicBoxInfo {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentPicInfo {
    width: 101%;
    height: auto;
}

.lineInfo {
    width: 100%;
    height: 1px;
    border-top: 1px solid #acc0d8;
}

.prevNextBoxInfo {
    width: 30%;
    text-decoration: none;
}

.changeFontInfo {
    font-family: 'Yesteryear', 'PingFang TC', 'Heiti TC', '微軟正黑體', sans-serif;
}