@import '../../styles/global.scss';

// 課程須知區塊
.infoBg {
  border-radius: 8px;
  background-color: $funwave-lightgray;
}

// 人數加減按鈕
.countButton {
  width: 30px;
  height: 30px;
  text-align: center;
}

// 個人資料表單
.infoForm {
  border-radius: 8px;
}

// 送出個人資料按鈕
.sendFormBtn {
  width: 100%;
}

.successBox {
  background-color: $funwave-orange;
}
.courseCartSteps{
  display: flex;
  justify-content: space-evenly;
}
// 手機版
@media screen and (max-width: 768px) {
  .courseDetail {
    display: none;
  }

  // 確認下一頁
  .confirmBtn {
    width: 300px;
  }

  // 回到上一頁
  .backBtn {
    width: 300px;
  }

  // 付款選項按鈕
  .pay-link-on {
    background-color: $deepblue;
    color: $white;
    border: 0.5px solid;
    border-color: $gray;
    display: block;
    text-align: center;
    width: 100px;
    padding: 3px;
    text-decoration: none;
  }

  .payItem:first-child .pay-link-on {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  .payItem:last-child .pay-link-on {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  .pay-link-off {
    border: 0.5px solid;
    border-color: $gray;
    color: $black;
    display: block;
    text-align: center;
    width: 100px;
    padding: 3px;
    text-decoration: none;
  }

  .payItem:first-child .pay-link-off {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  .payItem:last-child .pay-link-off {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  .pay-link-on:hover {
    // background-color: $deepblue;
    color: $white;
  }

  .pay-link-off:hover {
    color: black;
    // background-color: $deepblue;
    // color: $white;
  } 
  .courseCartSteps{
    display: block;
  }
}


// 電腦板
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  // 確認下一頁
  .confirmBtn {
    width: 180px;
  }

  // 回到上一頁
  .backBtn {
    width: 180px;
  }

  // 付款選項按鈕
  .pay-link-on {
    background-color: $deepblue;
    color: $white;
    border: 0.5px solid;
    border-color: $gray;
    display: block;
    text-align: center;
    width: 150px;
    padding: 3px;
    text-decoration: none;
  }

  .payItem:first-child .pay-link-on {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  .payItem:last-child .pay-link-on {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  .pay-link-off {
    color: $black;
    border: 0.5px solid;
    border-color: $gray;
    display: block;
    text-align: center;
    width: 150px;
    padding: 3px;
    text-decoration: none;
  }

  .payItem:first-child .pay-link-off {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  .payItem:last-child .pay-link-off {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .pay-link-on:hover {
    color: white;
    // background-color: $deepblue;
    // color: $white;
  }

  .pay-link-off:hover {
    color: black;
    // background-color: $deepblue;
    // color: $white;
  }
}
