@import '../../styles/global.scss';

// 課程簡介區
.courseBanner {
  height: 350px;
  background-size: cover;
  background: url('../../data/images/course/courseBanner.png') center center
    no-repeat rgba(255, 255, 255, 0.2);
}

// 課程簡介區塊往上挪
.course-box {
  transform: translateY(-100px);
  background-color: #fff;
  border-radius: 8px;
}

// 課程簡介按鈕
.courseIntroBtn {
  width: 200px;
}

// 上課地點圖片
.spot-img {
  border-radius: 8px;
}
