.item {
  max-width: 792px;
  margin: auto;
  margin-bottom: 30px;
}
.cover-fit {
  width: 45%;
  height: 45%;
  object-fit: cover;
}

.courseBtn {
  width: 150px;
  font-weight: bold;
}
.formBtn {
  width: 150px;
  font-weight: bold;
}
