@import '../../styles/global.scss';

// banner暫時用區塊
.bg {
  background-color: $lightgray;
  height: 1100px;
  // margin: 50px;
  padding: 50px;
}

// 課程內容標題
.contentTitle {
  min-height: 220px;
}

// 6大特色內容圖片
.cover-fit {
  width: 45%;
  height: 45%;
  // object-fit: cover;
}

// 分級衝浪課程項目
.item {
  margin-bottom: 30px;
}

// 分級課程報名按鈕
.courseBtn {
  width: 70%;
  color: #fff;
}
// 表單課程報名按鈕
.formBtn {
  width: 100%;
}

// 分級課程
.grade-wrap {
  border-radius: 8px;
  background-color: #fff;
}

// 分級課程標題
.grade-title {
  background-color: $lightgray;
  padding: 10px;
  border-radius: 8px;
}

// 表單區塊
.form-wrap {
  border-radius: 8px;
}
