@import '../../styles/global.scss';

.contentBanner {
  // height: 1200px;
  // transform: translateY(-500px);
  // padding: 50px;
  margin: auto;
  // background-size: cover;
  background: url('../../data/images/course/lightgrayBG-03.png') no-repeat;
}

// 課程內容標題
.contentTitle {
  height: 250px;
}

// 6大特色內容圖片
.cover-img {
  width: 45%;
  height: 45%;
  // object-fit: cover;
}

// 分級衝浪課程項目
.item {
  margin-bottom: 30px;
}

// 分級課程報名按鈕
.courseBtn {
  width: 50%;
  color: #fff;
}
// 表單課程報名按鈕
.formBtn {
  width: 100%;
}

.editBtn {
  width: 20%;
}

// 分級課程
.grade-wrap {
  border-radius: 8px;
  background-color: #fff;
}

// 分級課程標題
.grade-title {
  background-color: $lightgray;
  padding: 10px;
  border-radius: 8px;
}

// 表單區塊
.form-wrap {
  border-radius: 8px;
}

// 星星hover手指型
.startHover:hover {
  cursor: pointer;
}
.noHover:hover {
}
