// 待找到方法放在public，就可刪除此行
@import '../../styles/global.scss';

// 中間商品細節區
.left {
  background-color: aqua;
}
// 右邊加入購物車區
.right {
  background-color: rgb(218, 218, 115);
}
.colorRadio {
  width: 20px;
  height: 20px;
  background-color: blue;
}
