// 待找到方法放在public，就可刪除此行
@import '../../styles/global.scss';

// 共用
.sticky {
  position: sticky;
  top: 0;
  /* 貼在最上面 */
}
.rwdMargin5 {
  margin: 48px;
}

.stickyProducts {
  top: 90px;
}
// 中間商品細節區
.addWish {
  right: 50px;
}
.commentImgBox {
  height: 100px;
  width: 100px;
  display: flex;
  margin: auto;
}
@media screen and (max-width: 480px) {
  .commentImgBox {
    height: 40px;
    width: 40px;
    display: flex;
    margin: auto;
  }
  .rwdMargin5 {
    margin: 20px 0 0 0;
  }
  .productDetailsSticky {
    order: -1;
  }
}

// 右邊加入購物車區
.sizebtn {
  width: 35px;
  height: 35px;
  // border: 2px solid $funwave-deepgray;
}
.btnPlusMinus {
  width: 32px;
  height: 32px;
}
.btnAddCart {
  width: 100%;
}
.proDetailHeart :hover {
  cursor: pointer;
}
//productDetailContent
.cover-fit {
  object-fit: cover;
}
.boxRec {
  height: 120px;
  width: 100px;
  display: flex;
  margin: auto;
}
