* {
  list-style: none;
  box-sizing: border-box;
}
.banner {
  height: 450px;
  background: url('../../data/images/ProductBanner.jpg') center center no-repeat;
  background-size: cover;
}
h1 {
  height: 450px;
}
h4 {
  height: 450px;
}
