// 待找到方法放在public，就可刪除此行
@import '../../styles/global.scss';

// 共用
.sticky {
  position: sticky;
  top: 0;
  /* 貼在最上面 */
}

// title、banner
// banner圖應該要固定比例，待改！！
.bannerProducts {
  height: 350px;
  background: url('../../data/images/ProductBanner.jpg') center center no-repeat;
  background-size: cover;
}
.titleTop {
  height: 225px;
  background: rgba(255, 255, 255, 0.2); // 只調整背景alpha，不影響文字
}
.titleBottom {
  height: 125px;
  background: rgba(255, 255, 255, 0.2); // 只調整背景alpha，不影響文字
}
@media screen and (max-width: 480px) {
  .bannerProducts {
    height: 200px;
    background: url('../../data/images/ProductBanner.jpg') center center
      no-repeat;
    background-size: cover;
  }
  .titleTop {
    height: 125px;
    background: rgba(255, 255, 255, 0.2); // 只調整背景alpha，不影響文字
  }
  .titleBottom {
    height: 75px;
    background: rgba(255, 255, 255, 0.2); // 只調整背景alpha，不影響文字
  }
}

// 商品區
.coverFitContain {
  // object-fit: cover;
  object-fit: contain;
}
.imgBox {
  height: 270px;
  width: 270px;
  display: flex;
  margin: auto;
}
@media screen and (max-width: 480px) {
  .imgBox {
    height: 160px;
    width: 160px;
    display: flex;
    margin: auto;
  }
}

// 左側篩選區
.accordion-body {
  padding: 0;
  margin: 0;
}
.ulProducts {
  padding-left: 15px;
  margin: 0;
  border-left: 2.5px solid rgba($color: $gray, $alpha: 0.5);
}
.ulProducts > .liProducts {
  height: 35px;
  display: flex;
  align-items: center;
}
.linkProducts {
  text-decoration: none;
  color: $black;
}
.filterProducts {
  border-bottom: 1px solid $gray;
}

// 右側商品區

//ProductsList
.top-5 {
  top: 5%;
  right: 5%;
  z-index: 100;
}
.addWish {
  right: 50px;
}
.proHeart:hover {
  cursor: pointer;
}
