// 待找到方法放在public，就可刪除此行
@import '../../styles/global.scss';

// 共用
.sticky {
  position: sticky;
  top: 0;
  /* 貼在最上面 */
}

// title、banner
// banner圖應該要固定比例，待改！！
.bannerProducts {
  height: 350px; // 待跟客製化商品、課程統一！
  background: url('../../data/images/ProductBanner.jpg') center center no-repeat;
  background-size: cover;
}
.titleTop {
  height: 225px; // 待跟客製化商品、課程統一！
  background: rgba(255, 255, 255, 0.2); // 只調整背景alpha，不影響文字
}
.titleBottom {
  height: 125px; // 待跟客製化商品、課程統一！
  background: rgba(255, 255, 255, 0.2); // 只調整背景alpha，不影響文字
}

// 左側篩選區
.asideProducts {
  // background-color: $deepblue;
  border-top: 1px solid $gray;
}
// 待跟客製化商品、課程統一 banner下的間距(mt-4)！
.accordion-body {
  padding: 0;
  margin: 0;
}
.ulProducts {
  padding-left: 15px;
  margin: 0;
  border-left: 2.5px solid rgba($color: $gray, $alpha: 0.5);
}
.ulProducts > .liProducts {
  height: 35px;
  display: flex;
  align-items: center;
}
.linkProducts {
  text-decoration: none;
  color: $black;
}
.filterProducts {
  border-bottom: 1px solid $gray;
}

// 右側商品區
.articleProducts {
  // background-color: $orange;
  border-top: 1px solid $gray;
}
// .borderRadius {
//   border-radius: 50%;
// }
// 待跟客製化商品、課程統一 search框框長度、弧度(w-25)！

//ProductsList
.top-5 {
  top: 5%;
  right: 5%;
  z-index: 100;
}
.addWish {
  right: 50px;
}
.hand{
  cursor: pointer;
}