@import '../../styles/global.scss';

.input[type="radio"]{
    display: none;
}
.input[type="radio"]:checked + label{
    color: $funwave-orange;
    cursor: pointer;
}
.label{
    cursor: pointer;
    position: relative;
}
.label:before{
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-color: $funwave-lightblue;
    position: absolute;
    transform: translateX(-23px);
    cursor: pointer;
}
.label:hover{
    color:$funwave-orange;
}
.label:before:hover{
    cursor: pointer;
}
.label:active{
    color:$funwave-orange;
}
.level1Radio{
    transform: translate(135px,-450px);
}
.level2Radio{
    transform: translate(192px,-337px);
}
.level3Radio{
    transform: translate(135px,-230px);
}

// 左半球
.leftCircle{
    transform: translate(-200px, -50px);
}
.bgCircle{
    stroke: $funwave-deepblue;
    stroke-width: 2px;
    fill: transparent;
}
// .smCircle{
//     fill: $funwave-lightblue;
//     transition: .3s;
// }
// .smCircle:hover{
//     cursor: pointer;
//     fill: $funwave-orange;
//     r: 14px;
// }
// 左半球文字
.leftCirclePos{
    position: absolute;
    left: 0;
}
// 初階浪點
// .bsText{
//     position: absolute;
//     transform: translate(-265px, 40px);
// }
// .bsText:hover{
//     cursor: pointer;
// }
// 中階浪點
// .mdText{
//     position: absolute;
//     transform: translate(-205px, 182px);
// }
// .mdText:hover{
//     cursor: pointer;
// }
// 高階浪點
// .hgText{
//     position: absolute;
//     transform: translate(-265px, 327px);
// }
// .hgText:hover{
//     cursor: pointer;
// }

// RWD (800px)
@media screen and (max-width: 800px) {
    .leftCirclePos{
        display: none;
    }
  }