@import '../../styles/global.scss';

// 右半球
.rightCircle{
    transform: translate(150px, 30px);
}
.bgCircle{
    stroke: $secondary;
    stroke-width: 2px;
    fill: transparent;
}
.smCircle{
    fill: $info;
    transition: .3s;
}
.smCircle:hover{
    cursor: pointer;
    fill: $primary;
    r: 13px
}
// 右半球文字
.leftCirclePos{
    position: relative;
}
// 東部
.EText{
    position: absolute;
    transform: translate(-173px, 93px);
}
.EText:hover{
    cursor: pointer;
}
// 東北部
.ENText{
    position: absolute;
    transform: translate(-264px, 161px);
}
.ENText:hover{
    cursor: pointer;
}
// 北部
.NText{
    position: absolute;
    transform: translate(-278px, 271px);
}
.NText:hover{
    cursor: pointer;
}
// 西部
.WText{
    position: absolute;
    transform: translate(-248px, 382px);
}
.WText:hover{
    cursor: pointer;
}
// 南部
.SText{
    position: absolute;
    transform: translate(-175px, 450px);
}
.SText:hover{
    cursor: pointer;
}