@import '../../styles/global.scss';


.wrapBread{
    border-bottom: 1px solid $funwave-deepgray;
}
.taiwanMapBg{
    position: relative;
    overflow: hidden;
    background: url("../../data/images/surfSpot/surfSpotBG.png") center center no-repeat;
    max-width: 1440px;
    margin: 0 auto;
    background-size: cover;
}
.greenTitle{
    width: 64px;
    height: 24px;
}
.allTitle{
    color: $funwave-deepblue;
}
.allTitle:hover{
    color: $funwave-orange;
    cursor: pointer;
}
.fasAll{
    color: $funwave-deepblue;
}
.fasAll:hover{
    color:$funwave-orange;
    font-size: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .taiwanSvg{
        display: show;
    }
  }

// 手機版 375px