@import '../../styles/global.scss';


.wrapBread{
    border-bottom: 1px solid $gray;
}
// 半圓形
.circleLeft{
    width:250px;
    height:500px;
    border-radius: 0 500px 500px 0;
    border: 1px solid $secondary;
}
.leftSpot1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $info;
}
.circleRight{
    width:250px;
    height:500px;
    border-radius: 500px 0 0 500px;
    border: 1px solid $secondary;
}